.m-simple-item {
  .mb(2px);
  padding: 2px 5px 2px 2px;
  line-height: initial;
  font-size: 13px;
  background-color: #0F2222;
  text-shadow: 1px 1px 1px #000000;
  border-radius: 4px;
  overflow: hidden;

  .u-icon, .u-name {
    .dbi;
    vertical-align: middle;
  }

  .u-icon {
    width: 28px;
    .mr(8px);
  }

  .u-uiid {
    .mt(5px);
    font-size: 12px;
    color: lightgreen;
  }
}